<div class="menu">
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/news/article">News</a></li>
    </ul>
</div>
<style>
.menu {
    position: fixed;
    width: 100%;
    background-color: #000;
    color: white;
}
.menu ul {
    list-style: none;
}
.content {
    padding-top: 100px;
}
</style>