<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% include header.ejs %>
    <div class="content">
            <h1>Welcome to News page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores sapiente necessitatibus voluptas ducimus, consectetur dolor consequatur deserunt aut porro, iure quasi non aliquid fuga odio alias, enim natus cum reprehenderit.
                    Beatae et eius sequi? Exercitationem numquam cupiditate quis ullam minus maiores, sequi mollitia itaque alias dolore consequuntur distinctio nisi non esse vero praesentium nam reprehenderit asperiores laborum accusantium illum unde!
                    Itaque accusantium sit harum maxime natus, quia fuga provident beatae, voluptate maiores laborum neque aspernatur? Consectetur vel voluptatem dolorum ea, ratione veniam vero eligendi. Quod quis numquam saepe debitis provident!
                    Dolores, corporis vero, ducimus iure fugit cumque vel voluptate illo nemo assumenda sapiente nulla odit magnam aliquam non eligendi ad quibusdam sint esse perspiciatis doloribus! Perferendis consequatur pariatur quibusdam odio?
                    Nobis iure ad maxime, ipsam assumenda perferendis vel non optio? Molestias repudiandae obcaecati quia, sapiente aperiam eligendi, incidunt libero adipisci quaerat eos vitae nam explicabo modi ratione asperiores deleniti sequi.
                    Esse nisi, illum atque perferendis libero doloribus dolore ea error repellendus veniam laborum et ipsam, commodi iure? Recusandae, iste, quam quia maiores tempora tenetur eveniet minima, neque accusantium dolorum modi!
                    Accusamus odio ipsa qui, delectus veniam distinctio nesciunt nobis sapiente officiis eaque earum laboriosam nemo quis itaque dolorem neque harum et eum velit voluptatem consequuntur suscipit aperiam impedit consequatur. Tempora!
                    Voluptas eum cumque dolore consequatur libero ad obcaecati quod fugiat ut voluptatum id doloribus rerum nihil repellendus numquam nemo maxime animi odit laborum a, consectetur quis voluptates. Quis, totam optio.
                    Voluptatem fugit itaque, perferendis voluptates ab sapiente eos provident laboriosam magni dicta ullam! Odit necessitatibus soluta eveniet facere repellendus officia distinctio, sunt sapiente ab recusandae harum dolorum quo dolor ipsam!
                    Eveniet, libero! Reprehenderit inventore minus consequuntur, necessitatibus aperiam dignissimos deserunt sunt quam aliquid reiciendis expedita dolorem facilis, quasi ipsum voluptate. Laborum veniam nisi velit similique sit deleniti a, maxime blanditiis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, minus modi placeat, eaque itaque voluptates sit odit rerum tenetur minima in consequatur accusantium vel debitis, neque cum sequi voluptatibus enim.
                    Dolor, placeat enim voluptates officiis et harum, mollitia vero fugit consequuntur sint, quod laborum. Incidunt tempore reiciendis iure culpa aliquam autem! Maxime architecto eum quidem recusandae. Sit corrupti mollitia quod?
                    Provident corporis, quod fugiat sint perspiciatis adipisci, fuga impedit laudantium rerum dolores inventore itaque, nemo cumque? Iusto delectus fuga nam, voluptatum error culpa tenetur animi commodi nisi deleniti qui id.
                    Maxime hic delectus illo, provident reiciendis odit necessitatibus ratione, suscipit voluptate inventore quibusdam veniam accusamus quasi earum optio iusto labore a distinctio dolor maiores? Veniam fuga dolore quidem est asperiores.
                    Voluptates tempora aliquid quia enim sint autem corporis cumque quidem, nisi soluta incidunt ratione eius magni quos fugiat nulla numquam possimus, ipsa explicabo qui reprehenderit? Asperiores consequuntur quisquam eaque similique.
                    Nesciunt sint aliquid magnam et temporibus sequi necessitatibus, esse, rem ut debitis quibusdam earum aliquam qui quia itaque officia? Ea, atque ex voluptates iure eos deserunt voluptatem maiores esse neque.
                    Expedita deserunt corporis, deleniti sint quibusdam, animi qui nulla repellendus totam alias repudiandae nobis at illum fugiat distinctio? Vitae nisi corrupti eaque commodi ipsam modi? Cumque, deserunt. Mollitia, odio officia.
                    Eos laboriosam recusandae explicabo. Dolore quam quaerat in ipsam fugiat ex animi, aspernatur perspiciatis quisquam vitae iure eius molestias rem deserunt consectetur voluptates illum nostrum, quae tenetur veritatis? Dolorem, eaque.
                    Molestiae, blanditiis aspernatur amet enim sapiente dolor optio eius voluptatem. Sapiente non quas consequuntur placeat voluptatem possimus nihil ut tempore enim quod tempora, error nesciunt corrupti est sequi rem distinctio.
                    Cumque saepe ea et ipsa nesciunt corrupti inventore voluptatum officiis voluptatem optio! Laboriosam at aperiam voluptates dolore illo et veritatis atque labore provident? Eligendi accusantium eius rerum eveniet nostrum odio?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, minus modi placeat, eaque itaque voluptates sit odit rerum tenetur minima in consequatur accusantium vel debitis, neque cum sequi voluptatibus enim.
                    Dolor, placeat enim voluptates officiis et harum, mollitia vero fugit consequuntur sint, quod laborum. Incidunt tempore reiciendis iure culpa aliquam autem! Maxime architecto eum quidem recusandae. Sit corrupti mollitia quod?
                    Provident corporis, quod fugiat sint perspiciatis adipisci, fuga impedit laudantium rerum dolores inventore itaque, nemo cumque? Iusto delectus fuga nam, voluptatum error culpa tenetur animi commodi nisi deleniti qui id.
                    Maxime hic delectus illo, provident reiciendis odit necessitatibus ratione, suscipit voluptate inventore quibusdam veniam accusamus quasi earum optio iusto labore a distinctio dolor maiores? Veniam fuga dolore quidem est asperiores.
                    Voluptates tempora aliquid quia enim sint autem corporis cumque quidem, nisi soluta incidunt ratione eius magni quos fugiat nulla numquam possimus, ipsa explicabo qui reprehenderit? Asperiores consequuntur quisquam eaque similique.
                    Nesciunt sint aliquid magnam et temporibus sequi necessitatibus, esse, rem ut debitis quibusdam earum aliquam qui quia itaque officia? Ea, atque ex voluptates iure eos deserunt voluptatem maiores esse neque.
                    Expedita deserunt corporis, deleniti sint quibusdam, animi qui nulla repellendus totam alias repudiandae nobis at illum fugiat distinctio? Vitae nisi corrupti eaque commodi ipsam modi? Cumque, deserunt. Mollitia, odio officia.
                    Eos laboriosam recusandae explicabo. Dolore quam quaerat in ipsam fugiat ex animi, aspernatur perspiciatis quisquam vitae iure eius molestias rem deserunt consectetur voluptates illum nostrum, quae tenetur veritatis? Dolorem, eaque.
                    Molestiae, blanditiis aspernatur amet enim sapiente dolor optio eius voluptatem. Sapiente non quas consequuntur placeat voluptatem possimus nihil ut tempore enim quod tempora, error nesciunt corrupti est sequi rem distinctio.
                    Cumque saepe ea et ipsa nesciunt corrupti inventore voluptatum officiis voluptatem optio! Laboriosam at aperiam voluptates dolore illo et veritatis atque labore provident? Eligendi accusantium eius rerum eveniet nostrum odio?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, minus modi placeat, eaque itaque voluptates sit odit rerum tenetur minima in consequatur accusantium vel debitis, neque cum sequi voluptatibus enim.
                    Dolor, placeat enim voluptates officiis et harum, mollitia vero fugit consequuntur sint, quod laborum. Incidunt tempore reiciendis iure culpa aliquam autem! Maxime architecto eum quidem recusandae. Sit corrupti mollitia quod?
                    Provident corporis, quod fugiat sint perspiciatis adipisci, fuga impedit laudantium rerum dolores inventore itaque, nemo cumque? Iusto delectus fuga nam, voluptatum error culpa tenetur animi commodi nisi deleniti qui id.
                    Maxime hic delectus illo, provident reiciendis odit necessitatibus ratione, suscipit voluptate inventore quibusdam veniam accusamus quasi earum optio iusto labore a distinctio dolor maiores? Veniam fuga dolore quidem est asperiores.
                    Voluptates tempora aliquid quia enim sint autem corporis cumque quidem, nisi soluta incidunt ratione eius magni quos fugiat nulla numquam possimus, ipsa explicabo qui reprehenderit? Asperiores consequuntur quisquam eaque similique.
                    Nesciunt sint aliquid magnam et temporibus sequi necessitatibus, esse, rem ut debitis quibusdam earum aliquam qui quia itaque officia? Ea, atque ex voluptates iure eos deserunt voluptatem maiores esse neque.
                    Expedita deserunt corporis, deleniti sint quibusdam, animi qui nulla repellendus totam alias repudiandae nobis at illum fugiat distinctio? Vitae nisi corrupti eaque commodi ipsam modi? Cumque, deserunt. Mollitia, odio officia.
                    Eos laboriosam recusandae explicabo. Dolore quam quaerat in ipsam fugiat ex animi, aspernatur perspiciatis quisquam vitae iure eius molestias rem deserunt consectetur voluptates illum nostrum, quae tenetur veritatis? Dolorem, eaque.
                    Molestiae, blanditiis aspernatur amet enim sapiente dolor optio eius voluptatem. Sapiente non quas consequuntur placeat voluptatem possimus nihil ut tempore enim quod tempora, error nesciunt corrupti est sequi rem distinctio.
                    Cumque saepe ea et ipsa nesciunt corrupti inventore voluptatum officiis voluptatem optio! Laboriosam at aperiam voluptates dolore illo et veritatis atque labore provident? Eligendi accusantium eius rerum eveniet nostrum odio?</p>
    
                    </div>
    <!-- <p>News ID - <%= newsId %> </p>
    <p><%= obj.title %></p>
    <p><%= obj.id %></p>
    <ul>
       <% obj.paragraphs.forEach(function(item){ %>
            <li> <%= item %> </li>
       <% }); %>
    </ul> -->
    
</body>
</html>